.Navigation{
    height: 10em;
    width: 50%;
    position: relative;
    top:20px;
    left:50%;
    transform: translateX(-50%);

}

.navlist{
    background-color: rgb(5, 137, 23);
    border-radius: 25px;
    list-style: none;
    height:5em;
    display: flex;
    align-items: flex-start;
    justify-content:space-around;
    flex-direction: row;
    bottom:20px;
}



.links{
    position: relative;
    bottom:50px;


}