.Navigation{
    height: 10em;
    width: 50%;
    position: relative;
    top:20px;
    left:50%;
    transform: translateX(-50%);
    

}

.navlist{
    background-color: rgb(5, 137, 23);
  border-radius: 50px;
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center; /* Vertical centering */
  justify-content: space-evenly; /* Even spacing between links */
  padding: 0 2em;
}



.links{
    position: relative;
    bottom:50px;
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem; /* Bigger font */
  font-weight: 600; /* Semi-bold */
  transition: color 0.3s ease;
}

.links a:hover {
  color: #d4ffcc; /* Light green on hover */
}